<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-color: #638CB8;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		margin: 10px;
		padding: 20px;
		font-size: 16px;
	}

	.btn, form{
        margin: 0;
    }

    .col-md-6{
        padding: 0;
    }

	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}
</style>

<div class="center-column container">
    <div class="item-row">
        <p>Are you sure you want to delete "{{item}}"?</p>
        <div class="row">
            <a class="btn btn-sm btn-info col-md-5" href="{% url 'list' %}">Cancel</a>
            <div class="col-md-2"></div>
            <form class="col-md-5" method="POST" action="">
                {% csrf_token %}
                <input class="btn btn-sm btn-danger col-md-12" type="submit" name="Confirm">
            </form>      
        </div>
    </div>
</div>